@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
}
.thin {
    font-weight: 100;
}
.light {
    font-weight: 300;
}
.medium {
    font-weight: 500;
}
.semibold {
    font-weight: 600;
}
.bold {
    font-weight: 700;
}
.black {
    font-weight: 900;
}
.hide {
    display: none !important;
}
.uppercase {
    text-transform: uppercase;
}
.underline {
    text-decoration: underline;
}
.italic {
    font-style: italic;
}
a {
    color: inherit;
}
body {
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    padding: 0 24px;
    background-color: #f7f6fc;
}
.replaced_text {
	display:block;
	text-indent:-9999px;
}
.container {
	margin:0 auto;
	max-width: 1200px;
	position:relative;
    width:100%;
}