//==========================================//
// sass --watch scss/style.scss:css/style.css --style compressed //
//==========================================//
@import 'reset';
@import 'default';
@import 'animista';

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 22px 0;
    h2.user {
        font-size: 1.8rem;
        line-height: 2.5rem;
        color: #58506B;
    }
    .notifications {
        img {
            width: 20px;
        }
        &:hover {
            -webkit-animation: shake-horizontal 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-horizontal 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
        }
    }
}
main {
    padding-bottom: 150px;
    @media screen and (min-width: 768px) {
        padding-bottom: 80px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(327px, 1fr));
        align-items: flex-start;
        gap: 30px;
    }
    .savings {
        padding: 30px 20px;
        border-radius: 20px;
        background: linear-gradient(180deg, rgba(44, 82, 216, 0) 0%, rgba(44, 82, 216, 0.4) 100%), #54D1ED;
        box-shadow: 0px 8px 20px rgba(197, 166, 236, 0.05);
        color: #FFF;
        position: relative;
        width: 100%;
        max-width: 480px;
        margin: 0 auto 20px;
        h3 {
            font-size: 1.8rem;
            line-height: 2.5rem;
            max-width: 112px;
            margin-bottom: 60px;
        }
        img {
            width: 170px;
            right: 0;
            top: -30px;
            position: absolute;
        }
        .savings_actual {
            small {
                font-size: 1.4rem;
                line-height: 2.1rem;
            }
            h2 {
                font-size: 3.6rem;
                line-height: 4.9rem;
            }
        }
    }
    ul.summary {
        background-color: #fff;
        padding: 10px 20px;
        font-size: 1.4rem;
        box-shadow: 0 8px rgba(197,166,236,.05);
        border-radius: 20px;
        margin: 0 auto 40px; 
        max-width: 430px;
        width: 100%;
        @media screen and (min-width: 768px) {
            grid-column: span 4;
            max-width: 100%;
        }
        li {
            padding: 10px;
            border-bottom: 1px solid #FAF9FD;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    .goals {
        margin-bottom: 40px;
        @media screen and (min-width: 768px) {
            grid-column: span 5;
        }
        &_header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            max-width: 350px;
            h2 {
                font-size: 1.8rem;
                line-height: 2.5rem;
                color: #58506B;
            }
            button {
                width: 20px;
                height: 20px;
                background: transparent;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
        &_list {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(130px, auto));
            gap: 10px;
            &_item {
                background-color: #fff;
                border-radius: 20px;
                box-shadow: 0 8px rgba(197,166,236,.05);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin: 0 5px;
                padding: 20px 20px 10px;
                width: 100%;
                max-width: 160px;
                img {
                    height: 40px;
                    object-fit: contain;
                    width: 40px;
                }
                h3 {
                    border-bottom: 1px solid #FAF9FD;
                    color: #817699;
                    font-size: 1.4rem;
                    line-height: 2.1rem;
                    padding: 10px 0;
                }
                .complete {
                    align-items: center;
                    display: flex;
                    padding: 10px 0;
                    div[id^="goal-"] {
                        margin-right: 5px;
                    }
                    &_bar {
                        position: relative;
                        svg {
                            position: relative;
                            width: 50px;
                            height: 50px;
                            circle {
                                width: 50px;
                                height: 50px;
                                fill: none;
                                stroke-width: 10;
                                stroke: #020202;
                            }
                        }
                        h2 {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                    .money {
                        &_now {
                            color: #54D1ED;
                            font-size: 1.2rem;
                            line-height: 1.6rem;
                        }
                        &_total {
                            color: #817699;
                            font-size: 1rem;
                            line-height: 1.4rem;
                        }
                    }
                }
            }
        }
    }
    .portfolio {
        max-width: 327px;
        margin: 0 auto 40px;
        &_header {
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .profile {
                border-radius: 10px;
                padding: 3px 10px;
                &.estratega {
                    border: 1px solid #41CF69;
                    background-color: #E4FFEE;
                    font-size: 1rem;
                    line-height: 1.4rem;
                    color: #41CF69;
                }
            }
            h2 {
                font-size: 1.8rem;
                line-height: 2.5rem;
                color: #58506B;
            }
        }
        &_info {
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 8px rgba(197, 166, 236, 0.05);
            border-radius: 20px;
            max-width: 327px;
            .top {
                display: grid;
                grid-template-columns: auto 1fr;
            }
            &_graph {
                width: 120px;
                height: 120px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                margin-right: 20px;
                position: relative;
                .infotxt {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    text-align: center;
                    transform: translate(-50%, -50%);
                }
            }
            .slide {
                width: 100%;
                max-width: 147px;
                &_list {
                    img {
                        height: 15px;
                    }
                    h2 {
                        font-size: 1.2rem;
                        line-height: 2.6rem;
                    }
                    .price {
                        font-size: 1.2rem;
                        line-height: 2.6rem;
                    }
                    .activo {
                        h3 {
                            color: #41CF69;
                            font-weight: 600;
                            font-size: 1rem;
                            line-height: 1.4rem;
                        }
                        p {
                            font-size: 1rem;
                            line-height: 1.4rem;
                        }
                    } 
                }
            }
            .arrows_slide {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 8px 0;
                button {
                    align-items: center;
                    background: #FFFFFF;
                    border-radius: 50%;
                    border: 1px solid #FAF9FD;
                    display: flex;
                    height: 30px;
                    justify-content: center;
                    width: 30px;
                    &:hover {
                        background: #FAF9FD;
                    }
                }
            }
            p {
                font-size: 1rem;
                line-height: 1.4rem;
            }
        }
    }
}

.videos {
    margin: 0 auto 30px;
    max-width: 310px;
    width: 100%;
    h2 {
        font-size: 1.8rem;
        line-height: 2.5rem;
        color: #58506B;
        margin-bottom: 20px;
    }
    .videos_slide {
        max-width: 310px;
        width: 100%;
        .single_video {
            display: flex;
            align-items: center;
            position: relative;
            justify-content: center;
            height: 210px;
            .previewImg {
                height: 115%;
                object-fit: cover;
                width: 100%;
            }
            .icon {
                display: block;
                width: 34px;
                height: 34px;
                position: absolute;
                &:hover {
                    opacity: 0.5;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
        .wrapper {
            li {
                position: relative;
                border-radius: 20px;
                overflow: hidden;
                margin-right: 10px;
                a {
                    padding-bottom: 20px;

                }
                .curve {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                }
                .desc {
                    padding: 0 15px 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    h2 {
                        font-weight: 600;
                        font-size: 2.4rem;
                        line-height: 3.3rem;
                        margin-bottom: 0;
                        color: #FFF;
                        position: relative;
                        z-index: 2;
                    }
                    p {
                        color: #FFF;
                        position: relative;
                        z-index: 2;
                        font-size: 1.2rem;
                        line-height: 1.6rem;
                    }
                }
            }
        }
        .dots, .slick-dots {
            margin: 14px;
            display: flex;
            align-items: center;
            &_item, li {
                margin-right: 10px;
                display:block;
                text-indent:-9999px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #D7C7FF;
                transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
                cursor: pointer;
                &:hover, &.active, &.slick-active {
                    background: linear-gradient(180deg, rgba(44, 82, 216, 0) 0%, rgba(44, 82, 216, 0.4) 100%), #54D1ED;
                }
            }
        }
    }
}

.articles {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 8px 20px rgba(197, 166, 236, 0.05);
    overflow: hidden;
    @media screen and (min-width: 768px) {
        grid-column: span 3;
    }
    li {
        a {
            align-items: center;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #FAF9FD;
            padding: 20px;
            &:hover {
                background:#FAF9FD;
            }
        }
        .desc {
            h2 {
                font-size: 1.4rem;
                line-height: 2.1rem;
                color: #817699;
            }
            p {
                font-size: 1rem;
                line-height: 1.4rem;
                color: #817699;
            }
        }
        img {
            width: 68px;
            height: 68px;
            border-radius: 20px;
        }
    }
}

footer {
    position: fixed;
    bottom: 50px;
    width: 100%;
    height: 60px;
    max-width: 327px;
    border-radius: 16px;
    z-index: 3;
    font-size: 1rem;
    padding: 10px 20px;
    background-color: #fff;
    left: 50%;
    transform: translateX(-50%);
    @media screen and (min-width: 768px) {
         bottom: 0;
         max-width: 100%;
         border-radius: 16px 16px 0 0;
    }
    nav {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: space-between;
        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img {
                width: 20px;
                margin-bottom: 5px;
                &.ico_active {
                    display: none;
                }
            }
            .add {
                background: linear-gradient(180deg, rgba(44, 82, 216, 0) 0%, rgba(44, 82, 216, 0.4) 100%), #54D1ED;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 7px;
                border: 5px solid #f7f6fc;
                img {
                    margin: 0;  
                }
            }
            &.ahorrar {
                position: relative;
                top: -18px;
                transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
                &:hover {
                    transform: scale(1.1);
                }
            }
            small {
                font-size: 1rem;
                color: #A99DC6;
                line-height: 1.4rem;
            }
            &:hover, &.active {
                small {
                    color: #54D1ED;
                }
                img {
                    display: none;
                    &.ico_active {
                        display: block;
                    }
                }
            }
        }
    }
}